body{background-color: aqua;}
h1{color: brown;
font-size: 200%;
font-family: Verdana, Geneva, Tahoma, sans-serif;}



.good{
    font-family: Verdana;
    font-size: 150%;
    align-content: center;
    background-color: red;
    color:white;
}