* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Courier, Helvetica, sans-serif;
    margin: 0;
  }
  

  .header {
    padding: 0px;
    text-align: center;
    
  }

  .buttondiv {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  

  .navbar {
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    padding: 80px;
    top: 0;
  }
  

  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }
  
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a.active {
    
    color: black;
    font-family: 'verdana';
    font-size: 40px;

  }
  
 
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 
  