* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Courier, Helvetica, sans-serif;
    margin: 0;
  }
  

  .header {
    padding: 0px;
    text-align: center;
    
  }

  #backimage {
    
    padding: 25px;
    background: url(NigTechHeader.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .buttondiv {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  

  .navbar {
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    padding: 80px;
    top: 0;
  }
  

  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    
  }
  
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a.active {
    
    color: black;
    font-family: 'verdana';
    font-size: 40px;

  }
  
 
 

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: grey;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .icon-bar {
    position: sticky;
    position: -webkit-sticky;
    width: 90px;
    float: right;
    
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: black;
    font-size: 26px;
    
  }
  
  .icon-bar a:hover {
    background-color: lightgrey;
    height: 70px;
    width: 70px;
    background-color: lightgray;
    border-radius: 70%;
    
  }
 
  .content {
    max-width: 700%;
    margin: auto;
    background: lightgrey;
    padding: 10px;
  }


  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    font-size: 30px;
    font-family: cursive;
  }

  .footer input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: solid 1px black;
    
    
  }

  